@model List<Admin_Panel.Models.LogModel>

@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<center>
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <h1 class="page-head-line">Deleted Posts </h1>
                    <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style=" font-weight: bold">
                            
                        </div>
                        <div class="row" style="margin: 0 auto" ;>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Category</th>
                                                <th>Title</th>
                                                <th>AuthorName</th>
                                                <th>AuthorLname</th>
                                                <th>Published</th>
                                                <th>Deleted</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.PostId</td>
                                                    <td>@item.CategoryName</td>
                                                    <td>@item.PostTitle</td>
                                                    <td>@item.AuthorName</td>
                                                    <td>@item.AuthorLname</td>
                                                    <td>@item.Published </td>
                                                    <td>@item.Deleted</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>